body {
  margin-bottom: 55px;
  padding-top: 77px !important;
}

a {
  color: #2072ff;
}

.pages-toc ul {
  list-style: none;
}

blockquote {
  font-size: 16px;
}

/* logo image */
.navbar-nav > li > a {
  margin: 0;
}
.navbar-brand > span > img {
  margin-right: 7px;
}

/* scrollspy font */
nav#tocScrollspy  .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: .9em;
}

/* Display "Example" before code snippet */
blockquote:before {
  content: "Example";
  font-size: 14px;
  font-weight: bold;
}

/* Print/PDF settings */
/* Use `display: none !important;` to hide stuff when printing */
@media print {
  /* use smaller font */
  body {
    font-size: 16px;
  }
  /* Bootstrap, hide link in parens */
  /* https://drupal.stackexchange.com/questions/59900/how-to-get-rid-of-added-urls-when-printing-a-bootstrap-themed-page */
  a[href]:after {
    content: none;
  }
  /* KaTeX math */
  /* hide HTML, show MathML when printing */
  .katex-html {
    display: none !important;
  }
  .katex-mathml {
    position: relative !important;
  }
  /* Prismjs, hide copy button etc. */
  .code-toolbar .toolbar {
    display: none !important;
  }
}
